// Define variables for your color scheme

// For example:
:root {
  /* Primary & Dark Colors */
  --primary-dark: #084F59;
  --main-accent: #0073B7;
  --dark-secondary-buttons: #082B4C

  /* secondary and Accent colors */
  --category-icons: #EAA638;
  --calendar-selected-date: #F3BF65

   /* Backgrounds */
   --app-bg: #F8F9FB;
   --card-container: #EEF2F5;
   --input-field: #E6EEF3;
   --outer-canvas-bg: #EAE8E1;

   /* Text & Lines */
   --
}
