<nav class="app-header">
  <div class="header-left">
    <div class="header-avatar">
      <i class="fa-solid fa-user"></i>
    </div>
  </div>
  <h2 class="header-title">Billy</h2>
  <div class="header-right">
    <i class="fa-regular fa-bell"></i>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</nav>
