<nav class="app-header">
  <div class="header-left">
    <div class="header-avatar">
      <i class="fa-solid fa-user"></i>
    </div>
  </div>


  <%= link_to root_path, class: "text-decoration-none" do %>
    <h2 class="header-title fs-1">Billy</h2>
  <% end %>

  <div class="header-right">
    <i class="fa-regular fa-bell"></i>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</nav>
