<div class="bottom-navbar">
  <%= link_to root_path, class: "nav-item" do %>
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  <% end %>

  <%= link_to new_bill_path, class: "nav-item" do %>
    <i class="fa-solid fa-circle-plus"></i>
    <span>Add a bill</span>
  <% end %>

  <%= link_to bills_path, class: "nav-item" do %>
    <i class="fa-solid fa-robot"></i>
    <span>Ask Billy for Help</span>
  <% end %>
</div>
